<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PizzaMilano.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PizzaMilano.Properties.Settings.myDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\myDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <PizzaMilano.Properties.Settings>
            <setting name="currentNumber" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fileCounter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TotalCost" serializeAs="String">
                <value>0</value>
            </setting>
        </PizzaMilano.Properties.Settings>
    </userSettings>
</configuration>
